*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}

.wave{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.contenedor-texto{
    flex-basis: 50%;
    padding-left: 40px;
    overflow: hidden;
}

.titulo{
    font-size: 40px;
    color: white;
    font-weight: 700;
}

.subtitulo{
    font-size: 25px;
    margin: 20px 0;
    color: white;
    font-weight: 500;
}

.boton{
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color: #4776E6;
}

.contenedor-imagen{
    flex-basis: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.coco{
    width: 95%;
    animation: ilustrtionAnimate ease-in 1s infinite alternate;
}

@keyframes ilustrtionAnimate{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

@media screen and (max-width: 800px){
    .contenedor{
        flex-direction: column-reverse;
    }
    .wave{
        width: 80%;
    }
    .contenedor-texto{
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .contenedor-imagen{
        flex-basis: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 550px){
    .contenedor-texto{
        justify-content: flex-start;
        flex-basis: 30%;
    }
    .titulo{
        font-size: 30px;
    }

}
